@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    height: 170vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background:linear-gradient(135deg,#71b7e6,#9b59b6);
    text-align: center;
    
}

button{
  height: 100%;
  width: 30%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  background:linear-gradient(135deg,#71b7e6,#9b59b6);
  

}

button:hover{
    background:linear-gradient(135deg,#71b7e6,#9b59b6);
}